<div class="option-chain-window">
    <div class="terminal-header">
      <div class="header-title">Option Chain</div>
          <!-- <div class="header-subtitle">Select contract using `use <index>`</div> -->
    </div>

    <div class="terminal-main option-chain-main">

      <div class="option-expiry-tabs" id="expiry-tabs"></div>
      
      <table class="table-root">
        <thead class="table-head option-head">
          <tr align="center">
            <th class="ce">CE</th>
            <th class="strike">Strike</th>
            <th class="pe">PE</th>
          </tr>
        </thead>
        <tbody id="option-chain-body">
          <!-- rows injected via JS -->
        </tbody>
      </table>
    </div>
</div>

