<header class="terminal-header">
  <div>
    <div class="header-title">TradeDashboard - Chart</div>
    <!-- <div class="header-subtitle">Instrument Chart</div> -->
  </div>
    <div class="tf-switcher">
    <button data-tf="ONE_MINUTE" class="active">1m</button>
    <button data-tf="FIVE_MINUTE">5m</button>
    <button data-tf="FIFTEEN_MINUTE">15m</button>
    <button data-tf="ONE_HOUR">1H</button>
    <button data-tf="ONE_DAY">1D</button>
  </div>
  </header>

  <!-- <div class="terminal-main" style="display: flex; align-items: center; justify-content: center; padding: 40px;"> -->
  <div id="candle-chart" style="height: 100%; width: 100%;"></div>
  <!-- </div> -->