{% extends "base.html" %}

{% block content %}

<div class="page-layout">

  
  {% include "components/chain.html" %}



  <div class="terminal-container">

    <div class="view" id="view-trade">
      {% include "components/trade.html" %}
    </div>

    <div class="view" id="view-chart">
      {% include "components/chart.html" %}
    </div>
    {% include "components/trade_panel.html" %}
    {% include "components/vim_nav.html" %}

  </div>
  <script>
    window.ALL_CONTRACTS = {{ contracts | tojson }};
  </script>

{% endblock %}

{% block scripts %}

  <script src="{{ url_for('static', filename='webui.js') }}"></script>
  <script src="{{ url_for('static', filename='pageHandler.js') }}"></script>
  <script src="{{ url_for('static', filename='optionChainDisplay.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.js') }}"></script>

  
{% endblock %}

